@{
    ViewBag.Title = "GetStaffAppointmentsRequest";
}

<h2>GetStaffAppointments Result</h2>
<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
</ul>

<h1>Request</h1>
<pre style="font-size: 20px">

@ViewBag.Request

</pre>

<h1>Response</h1>
<pre style="font-size: 20px">

@ViewBag.Response

</pre>