@{
    ViewBag.Title = "ClientService";
}

<h2>ClientService</h2>
<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
</ul>

<ul data-role="listview" data-inset="true">
    @foreach (string call in ViewBag.apiCalls)
    {
        <li>@Html.ActionLink(@call, @call, "ClientAPI")</li>
    }
</ul>