@{
    ViewBag.Title = "FinderService";
}

<h2>FinderService</h2>
<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
</ul>

<ul data-role="listview" data-inset="true">
    @foreach (string call in ViewBag.apiCalls)
    {
        <li>@Html.ActionLink(@call, @call, "FinderAPI")</li>
    }
</ul>